.page {
  margin: 20px 0;
  font-size: 20px;
}

.bg {
  width: 100%;
  height: 565px;
  background-image: url("/images/color-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frosted {
  width: 400px;
  height: 250px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 0 20px;
}

.frosted:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
  margin: -20px;
}
